*
{
    margin: 0;
    padding: 0;
}
#banner
{    
    text-align: center !important;
    font-size: 3em;
    color: #0099cc;
    padding-top: 2%;
    padding-bottom: 5%;
}

.titre
{
    font-weight: bold !important;
}