{% extends 'base.html.twig' %}
{% block body %}
    {% for film in films %}
        <div class="col-sm-3">
            <a href="{{ path('film_detail', {'idFilm' : film.id}) }}">{{ film.titreFilm }}</a>
        </div>
    {% endfor %}
{% endblock body %}